<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
  <div fxFlex="initial" fxLayout="column" class="toolbar">
    <div class="toolbar-header" cds-text="caption bold center uppercase">Toolbar</div>
    <table>
      <tr>
        <td (dblclick)="addButton()">
          <div fxLayoutAlign="center center" class="button-icon" cds-text="smallcaption">
            BTN
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
  <div fxFlex fxLayout="row" fxLayoutGap="12px" class="body" #contentBody>
    <button class="btn btn-success" cdkDrag cdkDragBoundary=".body">Button</button>

  </div>

</div>